a:hover {
    cursor: pointer;
}
img {
    width: 100px;
    height: 100px;
}
.desktopUI {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.mobileUI {
    list-style: none;
    margin: 0;
    padding: 0;
}
.singleCard {
    height: 105px;
    width: 290px;
    background-color: #fab88d;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textTd {
    text-align: left;
}